// 默认主题变量
$menuBg: #304156;
$menuText: #bfcbd9;
$menuActive: #409eff;
$menuHover: #263445;
// 浅色主题theme-light变量
$menuBgLight: #f0f2f5;
$menuTextLight: #545c64;
$menuActiveLight: #409eff;
$menuHoverLight: #eef0f2;

:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActive: $menuActive;
  menuHover: $menuHover;
}

:root {
  // 侧边栏
  --sidebar-bg-color: #{$menuBg};
  --sidebar-text: #{$menuText};
  --sidebar-active: #{$menuActive};
  --sidebar-hover: #{$menuHover};
}

html.dark {
  // 侧边栏
  --sidebar-bg-color: #141414;
  --sidebar-text: #fff;
  --sidebar-active: #{$menuActiveLight};
  --sidebar-hover: #2d2d2d;
}

:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActive: $menuActive;
  menuHover: $menuHover;
}
